<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static "css/style.css"%}">
  </head>
  <body>
    <main>
      <section class="glass">
        <div class="dashboard">
          <div class="user">
            <img  src={% static "images/skynote.png" alt="Picture missing"%} style="width: 110px ; height: 110px; border-radius: 50px; margin-top: 20px"/>
            <h1>SKY NOTE</h1>
            <p style="font-size: 35px;">Welcome</p>
          </div>
          <div class="links">
            <div class="link">
              <img src={% static "images/twitch.png"%} alt="" />
              <a href={% static "../skynote_app/index/"%}><h2>Home</h2></a>
            </div>
            <div class="link">
              <img src={% static "images/library.png"%} alt="" />
              <a href="#"><h2>Library</h2></a>
          </div>
            <div class="link">
              <img src={% static "images/steam.png" %} alt="" />
              <a href=""><h2>Tasks</h2></a>
            </div>
            <div class="link">
              <img src={% static "images/steam.png" %} alt="" />
              <a href=""><h2>Blank</h2></a>
            </div>

            <div class="link">
              <!-- <img src="./images/logout.png" alt="" /> -->
              <a href={% static "../skynote_app/login/"%}><h2>Logout</h2></a>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="status">
            <h3>Search here</h3>
            <input type="text" />
          </div>

          
          <div class="cards">
            {% for note in notes %}
            <div class="card">
              <div class="card-info">
                <h2>{{note.title}}</h2>
                <a href="{% static "../skynote_app/note_details/"%}">Note details</a>
              </div>
            </div>
            {% endfor %}
          </div>
          
        </div>
      </section>
    </main>
  </body>
</html>
